{% extends "pyramid_bootstrap:/templates/bs4/layout.jinja2" %}

{% block title %}RMS: {{ name }}{% endblock title %}
<div class="col-md-10">
{% block content %}
    <p>No content</p>
{% endblock content %}
</div>